<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="../css/ajouter.css">
</head>
<body>
    <header class="">
        <nav class="nav flex justify-content-between">
            <div class="logo">GameGrove</div>
            <ul class="nav-tabs">
                <li>
                    <a href="/index.html">accueil</a>
                </li>
                <li>
                    <a href="/Jeux.html">Jeux</a>
                </li>
                <li>
                    <a href="/Trouver_des_Amis.html">Trouver des  Amis</a>
                </li>
                <li>
                    <a href="/connecter.html">se connecter</a>
                </li>
                <li>
                    <a href="/inscrire.html">s’inscrire</a>
                </li>
            </ul>
        </nav>
    </header>


    <section>
        <h1 class="ajouter-title">Ajouter Des Amis</h1>
    
        <div class="p-2">
            <div class="friend-element flex mb-2">
                <img class="h-100" src="../recources/friend-1.png" alt="">
                <div class="ml-3 flex flex-column justify-content-between w-100 p-1">
                    <strong class="">Marie Dupont</strong>
                    <div class="btns flex justify-content-between w-100">
                        <button class="cursor-pointer">Contacter</button>
                        <button class="cursor-pointer">Masquer</button>
                    </div>
                </div>
            </div>
        </div>
    </section>





</body>
</html>