<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>
<body>
    <header class="">
        <nav class="nav flex justify-content-between">
            <div class="logo">GameGrove</div>
            <ul class="nav-tabs">
                <li>
                    <a href="./index.html">accueil</a>
                </li>
                <li>
                    <a href="./jeux.html">Jeux</a>
                </li>
                <li>
                    <a href="./Trouver_des_Amis.html">Trouver des  Amis</a>
                </li>
                <li>
                    <a href="./connecter.html">se connecter</a>
                </li>
                <li>
                    <a href="./inscrire.html">s’inscrire</a>
                </li>
            </ul>
        </nav>
    </header>

    
    <section class="explore">
        <img src="../recources/homeimg.jpg" alt="">
        <h1>Explorez notre sélection de jeux et découvrir les dernières nouveautés</h1>
    </section>

    <section class="trouvez">
        <div class="trouvez-one">
            <h3>trouvez vos préférés et plongez-vous dans l'action</h3>
            <img src="../recources/first_img.png" alt="" class="home-image">
            <div class="nono"></div>
        </div>

        <div class="trouvez-one">
            <h3>Rejoignez-nous pour une expérience de jeu immersive et passionnante !</h3>
            <img src="../recources/second_img.png" alt="" class="home-image">
        </div>

        <div class="trouvez-one">
            <h3>connectez-vous avec d'autres passionnés de jeux pour partager vos expériences</h3>
            <img src="../recources/third_img.png" alt="" class="home-image">
        </div>
    </section>
    
    <hr>

    <footer>
        <h3>contacter nous</h3>

        <div>
            <div class="social">
                <img src="../recources/email-icon.png" alt="">
                <div>GameGove@gmail.com</div>
            </div>
            <div class="social">
                <img src="../recources/discord-icon.png" alt="">
                <div>Game_Gove</div>
            </div>
            <div class="social">
                <img src="../recources/instagram-icon.png" alt="">
                <div>Game_Gove</div>
            </div>
        </div>

        <p class="copyright">Copyright © 2010-2024 GameGove</p>
    </footer>
</body>
</html>



