<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>S’inscrire</h1>
    <form action="/action_page.php">
        <label for="name">Nom:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="pname">Prenom:</label><br>
        <input type="text" id="pname" name="pname"><br><br>
        
        <label for="cars">Pays:</label>
         <select id="pays" name="pays">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option> // une loop
            <option value="audi">Audi</option>
            
        </select>

        <label for="email">email:</label>
        <input type="email" id="email" pattern=".+@example\.com" size="30" required />
        
        <label for="pass">Mot de pass :</label>
        <input type="password" id="pass" name="password" minlength="8" required />

        <label for="pass">confirmer le Mot de pass :</label>
        <input type="password" id="pass" name="password" minlength="8" required />
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>

