<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="stylesheet" href="../css/sinscrire.css">
</head>
<body>
    <header class="">
        <nav class="nav flex justify-content-between">
            <div class="logo">GameGrove</div>
            <ul class="nav-tabs">
                <li>
                    <a href="/index.html">accueil</a>
                </li>
                <li>
                    <a href="/Jeux.html">Jeux</a>
                </li>
                <li>
                    <a href="/Trouver_des_Amis.html">Trouver des  Amis</a>
                </li>
                <li>
                    <a href="/connecter.html">se connecter</a>
                </li>
                <li>
                    <a href="/inscrire.html">s’inscrire</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="text-center sinscrire-h1">S'inscrire</h1>
    <form action="" class="sinscrire-form">
        <div class="flex justify-content-between align-items-center">
            <label>Nom: </label>
            <input type="text" name="nom" />
        </div>
        <div class="flex justify-content-between align-items-center">
            <label>Prenom: </label>
            <input type="text" name="prenom" />
        </div>
        <div class="flex justify-content-between align-items-center">
            <label>Pays: </label>
            <input type="text" name="prenom" />
        </div>
        <div class="flex justify-content-between align-items-center">
            <label>Gmail: </label>
            <input type="email" name="gmail" />
        </div>
        <div class="flex justify-content-between align-items-center">
            <label>Mot de pass: </label>
            <input type="password" name="password" required/>
        </div>
        <div class="flex justify-content-between align-items-center">
            <label>Confirmer le Mot-de-pass: </label>
            <input type="password" name="confirm-password" required/>
        </div>
        <input type="submit" value="Creer mon compte" class="cursor-pointer">
    </form>





</body>
</html>